.menu {
    display: flex;
    justify-content: space-between;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10;

    margin: .5rem 3rem;
    padding: 1rem;

    font-size: 1.8rem;
    color: $color-dark;
    background-color: #fff;
    border: $border;

    @media screen and (max-width: $screen-small) {
        font-weight: 600;
        font-size: 1.6rem;
    }

    &__main {
        text-transform: uppercase;
        margin: 0 1rem;
    }

    &__sub {
        margin-right: 1rem;
    }
}

.landing {
    min-height: 100vh;
    padding: 4rem 3rem 0 3rem;
    display: flex;
    justify-content: center;
    background-color: $color-primary;
    border-top: 0;

    @media screen and (max-width: $screen-small) {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        padding-bottom: 2rem;
    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 40%;
    }

    &__description {
        padding-left: 3rem;

        @media screen and (max-width: $screen-small) {
            width: 100%;
            padding: 5rem;
        }

        h1 {
            font-size: 5rem;
            text-transform: uppercase;
            margin-bottom: 3rem;
            font-weight: 400;
            animation: bounce-in-top 3s both;

            @media screen and (max-width: $screen-small) {
                font-size: 4rem;
            }
        }

        p {
            font-size: 1.8rem;
            margin-bottom: 3rem;
            width: 80%;
            animation: fade-in 3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;

            @media screen and (max-width: $screen-small) {
                font-size: 1.6rem;
                width: 100%;
            }
        }

        .button {
            animation: fade-in 3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        }
    }

    &__image {
        align-items: center;
        animation: wobble-hor-bottom 3s ease-in-out infinite both;

        @media screen and (max-width: $screen-small) {
            width: 100%;
            animation: wobble-hor-bottom 3s ease-in;
        }

        img {
            width: 90%;
            object-fit: cover;
            object-position: center;

            @media screen and (max-width: $screen-medium) {
                width: 100%;
            }

            @media screen and (max-width: $screen-small) {
                width: 70%;
            }
        }
    }
}

.section {
    min-height: 100vh;
    margin: 0;
    background-color: #fff;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.competencies {
    &__summary {
        font: $content-body;
        font-style: italic;
        padding: 5rem;
        padding-top: 2rem;
        text-align: center;
    }
}

.footer {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    margin: 0 3rem;
    padding-top: 2rem;
    border-bottom: 0;

    p {
        font: $content-body;
        font-weight: 300;
    }

    &__top {
        display: flex;
        flex: 7;
        border: $border;

        @media screen and (max-width: $screen-small) {
            flex-direction: column-reverse;
            justify-content: space-between;
            padding: 1rem;
            padding-bottom: .5rem;
            background-color: $color-primary;
        }
    }

    &__left {
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin: 0;
        background-color: $color-primary;
        border-right: $border ;

        @media screen and (max-width: $screen-small) {
            width: 100%;
            background-color: $color-primary;
            border: none;
        }
    }

    &__right {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 3rem;
        background-color: #fff;

        @media screen and (max-width: $screen-small) {
            width: 100%;
            align-items: center;
            flex: 2;
            padding-left: 0;
            background-color: $color-primary;
        }

        h1 {
            font: $content-heading;
            text-transform: uppercase;
            margin-bottom: 1rem;
        }
    }

    &__bottom {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;

        p {
            font-weight: 200;
        }
    }
}